<ion-view title="Algunas Estadísticas" id="page12">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Para tener en cuenta</span>
      </h4>
      <p>
        <strong>12%</strong>&nbsp;de los padres asegura que sus hijos fueron víctimas de Cyberbullying, y el 26% conoce a alguien en su comunidad que también lo fue.</p>
      <p>
        <strong>77%</strong>&nbsp;piensa que el Cyberbullying requiere atención de los padres y las escuelas, y un tratamiento diferente al del bullying en general.</p>
      <p>
        <strong>23%</strong>&nbsp;piensa que puede ser manejado sin su mediación, y al igual que cualquier otra forma de acoso.</p>
      <p>&nbsp;</p>
      <p>
        <strong>Medios que se usan para el Cyberbullying:</strong>
      </p>
      <p>
        <strong>60%</strong>&nbsp;Redes sociales como Facebook</p>
      <p>
        <strong>42%</strong>&nbsp;Celular u otro dispositivo móvil</p>
      <p>
        <strong>40%</strong>&nbsp;Salas&nbsp;de chat</p>
      <p>
        <strong>32%</strong>&nbsp;Correo&nbsp;electrónico o chat</p>
      <p>
        <strong>32%</strong>&nbsp;Otros sitios</p>
      <p>&nbsp;</p>
      <p>
        <em>Fuente: Consultora Ipsos: *Estudio realizado a más de 18 mil personas en 24 países que incluyen Argentina, México y Brasil.</em>
      </p>
    </div>
  </ion-content>
</ion-view>