<ion-view title="¿Cómo prevenirlo?" id="page10">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <span style="color: #0000ff;">
          <strong>1-</strong>
        </span>&nbsp;Usa la computadora tal como lo hace tu hijo. Te ayudará a comprender sus actividades en línea, los programas que usa y las personas con las que se relaciona, así como los peligros a los que puede ser vulnerable.</p>
      <p>
        <strong>
          <span style="color: #0000ff;">2-</span>
        </strong>&nbsp;Conversa con él acerca de los cuidados que debe tener siempre presentes. Recuérdale mantener en privado su información personal, sus contraseñas, sus fotos y videos.</p>
      <p>
        <strong>
          <span style="color: #0000ff;">3-&nbsp;</span>
        </strong>Enséñale a desconﬁar de mensajes o archivos recibidos de personas desconocidas o de poca conﬁanza.</p>
      <p>
        <strong>
          <span style="color: #0000ff;">4-</span>
        </strong>Controla el uso que le da a la webcam, sobre todo para que no la active ante desconocidos.</p>
      <p>
        <span style="color: #0000ff;">
          <strong>5-</strong>
        </span> Puedes monitorear su navegación mediante un software con control parental.</p>
      <p>
        <strong>
          <span style="color: #0000ff;">6-</span>
        </strong> Establece reglas para el uso de la tecnología: horarios y lugares para conectarse, modos de actuar ante un mensaje sospechoso, criterio para aceptar nuevos contactos.</p>
      <p>
        <strong>
          <span style="color: #0000ff;">7-</span>
        </strong> Mantén siempre la comunicación, para que se sienta cómodo de contarte si está asustado o se ve amenazado en Internet.</p>
    </div>
  </ion-content>
</ion-view>