<ion-view title="Doble Autenticación" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>En la actualidad, la mayoría de las personas utilizan servicios que requieren de credenciales de acceso, es decir, un nombre de usuario y contraseña para poder ingresar a sitios o servicios. En esta línea, la clave actúa como una llave digital que
        le permite a un usuario identiﬁcarse en el sistema para poder acceder a su información. De este modo, dicha contraseña protege los datos privados del acceso no autorizado por parte de terceros.</p>
      <p>Sin embargo, el aumento de ataques informáticos sumado a las conductas inseguras de las personas, como el uso de contraseñas débiles e iguales en varios servicios, hacen necesario utilizar métodos de autenticación complementarios más robustos. A
        raíz de esto, muchas empresas están implementando la doble autenticación.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">¿Qué es la doble autenticación?</span>
      </h4>
      <p>La doble autenticación se trata de un sistema que complementa la autenticación tradicional en los servicios. En otras palabras, además de requerir un nombre de usuario y contraseña, solicita el ingreso de un segundo factor de autenticación, como
        por ejemplo, un código de seguridad. Generalmente, este código se genera en un dispositivo del usuario como un teléfono celular o token. Luego, la persona debe ingresarlo para poder validarse en el sistema. El siguiente esquema muestra el funcionamiento
        de la doble autenticación:</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Factores de autenticación</span>
      </h4>
      <p>Un sistema de doble autenticación es aquel que utiliza dos de los tres factores de autenticación que existen para validar al usuario. Estos factores pueden ser:</p>
      <p>• Algo que el usuario sabe (conocimiento), como una contraseña.</p>
      <p>• Algo que el usuario tiene (posesión), como un teléfono o token que lepermite recibir un código de seguridad.</p>
      <p>• Algo que el usuario es (inherencia), o sea, una característica intrínseca del ser humano como huellas dactilares, iris, etc.</p>
      <p>Por lo general, los sistemas de doble autenticación suelen utilizar los factores conocimiento (nombre de usuario y contraseña) y posesión (teléfono o token para recibir código de seguridad).</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">Doble autenticación y mitigación de ataques</span>
      </h4>
      <p>Son diversas las amenazas y conductas que pueden contribuir a que un usuario se vea afectado por el robo de una o varias contraseñas, no obstante, la doble autenticación permite mitigar considerablemente tales amenazas. Por ejemplo, un cibercriminal&nbsp;podría&nbsp;robar
        una clave utilizando un código malicioso, y si bien dicha contraseña sería obtenida, el atacante no&nbsp;podría lograr el acceso al sistema debido a que desconocería el segundo&nbsp;factor de autenticación, es decir, el código que se envía al
        teléfono del usuario.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">¿Cómo activar la doble autenticación en servicios web?</span>
      </h4>
      <p>Debido a diversos ataques que involucran el robo de contraseñas, y que&nbsp;han afectado a importantes empresas, muchos servicios ofrecen la&nbsp;posibilidad de activar la doble autenticación de forma gratuita. Es&nbsp;importante destacar que este
        tipo de protección no viene conﬁgurada&nbsp;por defecto, por lo tanto, el usuario deberá modiﬁcar algunos parámetros&nbsp;para activarla.</p>
      <p>A continuación&nbsp;se detallarán las instrucciones necesarias para conﬁgurar este sistema de protección en Facebook, Twitter, Instagram y Google.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>