<ion-view title="Formas en que se produce" id="page11">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">El Ciberbullying se produce</span>
      </h4>
      <p>• Enviando correos electrónicos o mensajes crueles con el ﬁn de amenazar y humillar al destinatario.</p>
      <p>• Compartiendo o publicando fotos, videos o información avergonzante de una persona en un perﬁl, página,&nbsp;blog o chat.</p>
      <p>• Haciéndose pasar por otra persona en esas plataformas para decir cosas desagradables de la víctima.</p>
      <p>• Ingresando a su correo electrónico o perﬁl de redes sociales para dejar mensajes en su nombre.</p>
      <p>• Consiguiendo fotografías o imágenes comprometedoras o íntimas de otra persona, con el ﬁn de chantajearla.</p>
      <p>• Haciendo montajes fotográﬁcos con imágenes de la víctima para
        <br>difundirlas a través de Internet o teléfonos celulares.</p>
      <p>• Publicando información personal de la víctima buscando que más
        <br>personas intervengan en el acoso.</p>
    </div>
  </ion-content>
</ion-view>