<ion-view title="¿Fuiste victima?" id="page9">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>
        <strong>Habla con un adulto.</strong> Es conveniente que comentes lo que te pasó con tus padres, algún maestro o persona de conﬁanza para que te ayude a detener la situación.</p>
      <p>
        <strong>Recuerda que la violencia genera más violencia</strong>, así que no reacciones de la misma manera con tu agresor ya que sólo lo fortalecerás. Pídele que deje de molestarte y apóyate en tus personas de conﬁanza.</p>
      <p>
        <strong>No te culpes por lo que te sucedió</strong> y no te aísles, ni tampoco pienses que por algún motivo lo mereces.</p>
      <p>
        <strong>Trata de evitar que el bullying siga existiendo</strong> en tu comunidad: trabaja con tus pares en la prevención para que otra persona
        <br>no pase por lo mismo.</p>
      <p>
        <strong>Sé solidario</strong>: si sabes de alguien que haya pasado por una situación de bullying, podrás ayudarle a superarlo con palabras de consuelo. Hazle saber que lamentas lo que le ocurrió, y trata de integrarlo a tu grupo de amigos. Así, se sentirá
        contenido.</p>
      <p>
        <strong>Guarda la evidencia</strong>, te servirá para denunciar la agresión.</p>
    </div>
  </ion-content>
</ion-view>