<ion-view title="Grooming" id="page14">
  <ion-content padding="true" class="has-header">
    <div>
      <h4>
        <span style="color: #003366;">¿Qué es el Grooming?</span>
      </h4>
      <p>Consiste en acciones deliberadamente emprendidas por un adulto con el objetivo de ganarse la amistad de un menor de edad, al crearse una conexión emocional con el mismo, con el ﬁn de disminuir las inhibiciones del niño y poder abusar sexualmente
        de él.</p>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #003366;">¿Por qué medio se puede dar?</span>
      </h4>
      <p>El grooming se puede dar a través de cualquier medio digital que permita la interacción entre dos o más personas. Así es cómo las redes sociales, el correo electrónico, mensajes de texto, sitios de
        <br>chats, páginas de juegos en línea, y otros; pueden ser utilizados por un delincuente para concretar un caso de grooming.</p>
      <h4>
        <br>
        <span style="color: #003366;">¿Qué consecuencias puede tener?</span>
      </h4>
      <p>Dependiendo de cada caso, las consecuencias del grooming pueden variar: en una primera instancia, el menor podría sufrir traumas psicológicos debido a la manipulación que realiza el adulto.</p>
      <p>En caso que se concrete el encuentro, las consecuencias podrían ser ya de&nbsp;carácter físico,&nbsp;pudiendo llegar incluso al abuso sexual. En ambas situaciones, los derechos fundamentales de los niños se ven afectados negativamente.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">Consejos para prevenir el Grooming</span>
      </h4>
      <p>Evitar que los menores utilicen los medios digitales no es posible, por lo tanto, los consejos de protección deberán estar enfocados en un uso controlado y&nbsp;seguro de Internet por parte de los niños.</p>
      <hr>
      <h4>&nbsp;</h4>
      <h4>
        <span style="color: #003366;">Algunas sugerencias:</span>
      </h4>
      <p>
        <strong>Controlar el acceso de los niños a Internet:</strong>
      </p>
      <p>Es importante vigilar que los menores no publiquen información personal y privada como dirección, teléfono, colegio, etc, ni tampoco posean una lista extensa de contactos desconocidos.</p>
      <p>
        <br>
        <strong>Concientizar a los menores sobre los peligros de la red:</strong>
      </p>
      <p>Es fundamental que los niños conozcan los riesgos a los cuales pueden verse enfrentados.</p>
      <p>
        <br>
        <strong>Mantener un diálogo abierto entre padres e hijos:</strong>
      </p>
      <p>Una conversación libre y ﬂuida entre padres e hijos contribuye a que los niños se sientan con la conﬁanza necesaria para recurrir a un adulto de ser necesario.</p>
      <p>
        <br>
        <strong>Instalar un antivirus:</strong>
      </p>
      <p>El objetivo es proteger la computadora de códigos maliciosos y ciberdelitos.</p>
      <p>
        <br>
        <strong>Instalar un programa de control parental:</strong>
      </p>
      <p>Este tipo de aplicaciones permiten ﬁltrar sitios y contenidos potencialmente peligrosos para los menores de edad.</p>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <h4>
      <span style="color: #003366;">¿Dónde asesorarte, consultar y denunciar?</span>
    </h4>
    <div class="spacer" style="height: 10px;"></div>
    <p>Servicio telefónico gratuito del Ministerio de Justicia y Derechos Humanos de la Nación, las 24 hs., los 365 días del año en todo el país.</p>
    <a href-inappbrowser="tel:08002221717" class="button button-calm button-block icon-left ion-ios-telephone">0800-222-1717</a>
    <div class="spacer" style="height: 30px;"></div>
    <div>
      <hr>
      <p>
        <strong>Oficina Provincial de Grooming</strong>
      </p>
      <p>Subsecretaría de Desarrollo Humano e Inclusión Juvenil y del Adulto Mayor - Ministerio de Desarrollo Social de la Provincia de La Rioja</p>
    </div>
    <a href-inappbrowser="https://api.whatsapp.com/send?phone=543804653641&amp;text=Hola,%20estamos%20para%20ayudarte%20cuentanos..." id="grooming-button3" class="button button-calm button-block icon-left ion-social-whatsapp">3804-653641</a>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>