<ion-view title="Inicio" hide-nav-bar="true" id="page1" style="background-color:#4276FD;">
  <ion-content padding="true" style="background: url(img/PwO1cw7CR5KTNy5awbI6_Splash20App20Ciber.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/pj4g8a57SfGy3h0934AX_LogoApp.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 30px;"></div>
    <ion-list id="inicio-list3">
      <ion-item class="item-icon-left positive" id="inicio-list-item5" ui-sref="menu.privacidad()">
        <i class="icon ion-android-alert"></i>Privacidad</ion-item>
    </ion-list>
    <div class="spacer" style="height: 3px;"></div>
    <ion-list id="inicio-list12">
      <ion-item class="item-icon-left positive" id="inicio-list-item9" ui-sref="menu.grooming()">
        <i class="icon ion-android-alert"></i>Grooming</ion-item>
    </ion-list>
    <div class="spacer" style="height: 3px;"></div>
    <ion-list id="inicio-list4">
      <ion-item class="item-icon-left positive" id="inicio-list-item7" ui-sref="menu.ciberbullying()">
        <i class="icon ion-android-alert"></i>Ciberbullying</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 3px;"></div>
    <ion-list id="inicio-list6">
      <ion-item class="item-icon-left positive" id="inicio-list-item6" ui-sref="menu.sexting()">
        <i class="icon ion-android-alert"></i>Sexting</ion-item>
    </ion-list>
    <div class="spacer" style="height: 3px;"></div>
    <ion-list id="inicio-list9">
      <ion-item class="item-icon-left positive" id="inicio-list-item10" ui-sref="menu.phishing()">
        <i class="icon ion-android-alert"></i>Phishing</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 3px;"></div>
    <ion-list id="inicio-list10">
      <ion-item class="item-icon-left positive" id="inicio-list-item11" ui-sref="menu.dobleAutenticaciN()">
        <i class="icon ion-android-alert"></i>Doble Autenticación</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 3px;"></div>
    <ion-list id="inicio-list2">
      <ion-item class="item-icon-left positive" id="inicio-list-item8" ui-sref="menu.QuiNesSomos()">
        <i class="icon ion-information-circled"></i>¿Quiénes somos?</ion-item>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <img src="img/vpKQy0ufRnCy9Lqt4NVG_LogoRiojaCiberseguraBlanco1.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>