<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#1B457C;">
    <ion-header-bar class="bar-positive">
      <div class="title">Menu</div>
    </ion-header-bar>
    <ion-content padding="false" style="background: url(img/PwO1cw7CR5KTNy5awbI6_Splash20App20Ciber.png) no-repeat center;background-size:cover;" class="side-menu-left has-header ">
      <div class="spacer" style="height: 10px;"></div>
      <div>
        <img src="img/pj4g8a57SfGy3h0934AX_LogoApp.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 10px;"></div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left positive" id="menu-list-item1" ui-sref="menu.inicio()" menu-close="">
          <i class="icon ion-ios-home-outline"></i>Inicio</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item2" ui-sref="menu.privacidad()" menu-close="">
          <i class="icon ion-android-checkmark-circle"></i>Privacidad</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item25" ui-sref="menu.grooming()" menu-close="">
          <i class="icon ion-android-checkmark-circle"></i>Grooming</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item3" ui-sref="menu.ciberbullying()" menu-close="">
          <i class="icon ion-android-checkmark-circle"></i>Ciberbullying</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item4" ui-sref="menu.sexting()" menu-close="">
          <i class="icon ion-android-checkmark-circle"></i>Sexting</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item12" ui-sref="menu.phishing()" menu-close="">
          <i class="icon ion-android-checkmark-circle"></i>Phishing</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item14" ui-sref="menu.dobleAutenticaciN()" menu-close="">
          <i class="icon ion-android-checkmark-circle"></i>Doble Autenticación</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item13" ui-sref="menu.QuiNesSomos()" menu-close="">
          <i class="icon ion-ios-information-outline"></i>¿Quienes somos?</ion-item>
      </ion-list>
      <div class="spacer" style="height: 20px;"></div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>