<ion-view title="Phishing" id="page5">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">¿De qué se trata?</span>
      </h4>
      <p>Es la suplantación de tu identidad en el mundo digital, cuando los ciberdelincuentes se hacen pasar por una persona o empresa de confianza para engañar al usuario con información falsa y así obtener datos confidenciales y personales como el nombre,
        número de cuenta bancaria, contraseñas o número de tarjeta de crédito.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">¿Como protegerme?</span>
      </h4>
      <p>► No ingresar información atreves de enlaces en mensajes o correos electrónicos.</p>
      <p>► No confiar en correos electrónicos en los que se te soliciten datos confidenciales.</p>
      <p>► No hacer clic en enlaces incrustados en correos electrónicos. Pueden estar infectados.</p>
      <p>► Utilizar antivirus y antispam que te protejan ante mensajes malintencionados.</p>
      <p>► Usar contraseñas diferentes para todos los sitios web.</p>
      <p>► Siempre verificar la fuente. Ante la mínima duda, se prudente y no te arriesgues.</p>
      <p>► No ingreses tu información en sitios que no sean seguros. Verifica que la dirección comience con “HTTPS://” y aparezca el icono de un candado.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">¿Qué debo hacer si fui víctima de un delito informático?</span>
      </h4>
      <p>⌂ No borrar, destruir ni modificar la información que tengas en tu PC relacionada al hecho.
        <strong>¡Son pruebas fundamentales!</strong>
      </p>
      <p>⌂ Hacer la denuncia correspondiente en cualquier comisaría.
        <strong>Están obligados a tomarla.</strong>
      </p>
      <p>
        <strong>&nbsp;</strong>
      </p>
      <p>
        <strong>
          <em>** </em>
        </strong>
        <em>Argentina se ubica en el segundo lugar en ataques a nivel regional. 1 de cada 1448 usuarios esta implicado en casos de phishing. **</em>
      </p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>