<ion-view title="Privacidad" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">¿Qué es la privacidad en Internet?</span>
      </h4>
      <p>La privacidad en Internet podría entenderse como el control que ejerce un usuario sobre su información para limitar la cantidad de personas autorizadas a obtenerla. Esto incluye datos personales, fotografías, archivos, etc.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">¿Por qué es importante?</span>
      </h4>
      <p>Internet es una herramienta que permite además de otras cosas, la interacción entre dos o más personas. Dicha característica se ve reﬂejada en sitios como Facebook y Twitter, redes sociales en donde los niños y las personas en general, suelen compartir
        públicamente los sentimientos, noticias, fotografías, videos, etc. Si bien esto forma parte de la interacción social normal que se da en la actualidad, es necesario considerar que Internet es un “lugar” abierto al mundo, por lo tanto, cualquier
        acción que se haga puede tener un impacto global y permanente. Por ejemplo, alguna publicación de la cual una persona pueda arrepentirse (como una fotografía u opinión) no solo podrá ser vista por millones de usuarios, sino que también será prácticamente
        imposible poder borrarla completamente de la red.</p>
      <p>También puede resultar peligroso publicar datos que puedan identiﬁcar a una persona como dirección, teléfonos, lugar de estudio o trabajo, días de vacaciones, etc. Esto puede resultar todavía más complicado si se posee una gran lista de amigos que
        no son conocidos personalmente. Por todo lo que se ha mencionado, es de suma importancia que antes de publicar algo, cada persona piense en las consecuencias que puede conllevar divulgar información sensible en sitios públicos y de los cuales
        no siempre se tiene un control directo.</p>
      <p>Producto del gran alcance, masividad, y otras características de Internet, es necesario comprender qué es la privacidad y cómo poder aplicarla correctamente.</p>
      <p>&nbsp;</p>
      <h4>
        <strong>
          <span style="color: #003366;">Recomendaciones</span>
        </strong>
      </h4>
      <p>
        <strong>
          <span style="color: #ff0000;">1-</span> Conﬁgurar adecuadamente los perﬁles en redes sociales</strong>: Facebook, Twitter y LinkedIn son algunos ejemplos de redes sociales que permiten controlar quiénes podrán acceder a la información que publica el usuario. En este sentido,
        es recomendable tener como contactos solo a personas conocidas, de este modo, será posible limitar adecuadamente el número de personas con acceso a datos conﬁdenciales. Por ejemplo, Facebook permite activar una opción para impedir que alguien
        etiquete en una foto a un usuario sin el consentimiento previo. La Guía de Seguridad en Redes Sociales contiene más información sobre privacidad en este tipo de sitios.</p>
      <p>
        <br>
        <strong>
          <span style="color: #ff0000;">2-</span> Concientizar a los menores sobre los peligros y alcances de Internet</strong>: Es importante que tanto los padres como los niños se mantengan informados sobre los peligros que existen al momento de utilizar Internet.</p>
      <p>
        <strong>
          <span style="color: #ff0000;">3-</span> Mantener un diálogo abierto entre padres e hijos</strong>: Una conversación libre y ﬂuida entre padres e hijos contribuye a que los niños se sientan con la conﬁanza necesaria para recurrir a un adulto de ser necesario.</p>
      <p>
        <strong>
          <span style="color: #ff0000;">4-</span> Instalar un programa de control&nbsp;</strong>
        <strong>parental</strong>: Este tipo de aplicaciones permiten ﬁltrar sitios y contenidos potencialmente peligrosos para los menores de edad. Asimismo, algunas soluciones permiten ﬁltrar sitios en base a su temática (redes sociales, correo, con contenido
        inadecuado, etc.)</p>
      <p>
        <strong>
          <span style="color: #ff0000;">5-</span> Instalar un antivirus</strong>: El objetivo es proteger la computadora de códigos maliciosos y ciberdelitos que pueden afectar la privacidad del usuario en Internet.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>