<ion-view title="¿Qué es?" id="page8">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>El Ciberbullying, es el hostigamiento a través de medios informáticos como redes sociales, chat, correo electrónico o sitios web. Consiste en molestar, amenazar, humillar o acosar a una persona utilizando dichos medios.</p>
      <p>Las formas más comunes son la difusión de falsos rumores, videos o fotos humillantes, y la creación de perﬁles o sitios para agredir a la víctima.</p>
      <p>También puede ocurrir que el agresor se haga pasar por otra persona para decir cosas desagradables o amenace a la víctima con publicar su información personal.</p>
      <p>Generalmente, los afectados son personas vulnerables que son vistas como “diferentes” por quien las molesta.</p>
      <p>El cyberbullying se expande viralmente por la Web y puede ser difícil de detener.</p>
      <p>Por tal motivo, resulta invasivo y dañino. Además, puede que las agresiones permanezcan en el ciberespacio durante mucho tiempo, por lo que afectan a largo plazo a quien las sufre.</p>
    </div>
  </ion-content>
</ion-view>