<ion-view title="¿Quiénes somos?" id="page7">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/nBb52E7ARAiGLCyZHB0T_8AGMogRgSiiqYlg8YRMI_WhatsAppImage2018-10-05at12.14.28.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <p>
      <span style="color: #ff0000;">
        <strong>iNNOVA </strong>
      </span>es un espacio abierto que reúne a profesionales, estudiantes, emprendedores, líderes comunitarios y vecinos de La Rioja. Debatimos, difundimos ideas y generamos proyectos con una mirada práctica que nos sirvan para intervenir en una agenda pública
      y gubernamental de nuestra ciudad y provincia.&nbsp;Nuestros principios ponen el foco en la necesidad de una mirada estratégica de los asuntos públicos basada en la transparencia, la sustentabilidad y la capacidad de respuesta del Estado y sus intervenciones
      de política pública.&nbsp;</p>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="QuiNesSomos-list13">
      <center>
        <ion-item class="item-divider"> Contacto</ion-item>
      </center>
    </ion-list>
    <div class="spacer" style="height: 20px;"></div>
    <ion-list id="QuiNesSomos-list14">
      <ion-item class="item-avatar" id="QuiNesSomos-list-item15" href-inappbrowser="https://api.whatsapp.com/send?phone=543804715177">
        <img src="img/xmNuMmqHTcG1GWokheU5_aE4MbBPTNivdbyZBcHQZ_580b57fcd9996e24bc43c543.png">
        <h2>WhatsApp</h2>
        <p>3804715177</p>
      </ion-item>
      <ion-item class="item-avatar" id="QuiNesSomos-list-item23" href-inappbrowser="https://www.facebook.com/innovaLaR/posts/">
        <img src="img/gwwpfNxDR3OxaUUvJktn_TjL2rM2JQoCcxLPWGlba_X4tIMx7cRbqGGI7Jwu0B_Facebook.png">
        <h2>Facebook</h2>
        <p>@innovaLaR</p>
      </ion-item>
      <ion-item class="item-avatar" id="QuiNesSomos-list-item16" href-inappbrowser="https://www.instagram.com/innovalarioja/">
        <img src="img/3TaLLwxJRlG0k23hxzBv_rEWDfuAWTfKIhgAFTqtu_Instagram.jpg">
        <h2>Intagram</h2>
        <p>@innovalarioja</p>
      </ion-item>
      <ion-item class="item-avatar" id="QuiNesSomos-list-item24" href-inappbrowser="https://twitter.com/innovalarioja">
        <img src="img/h5qfMdbVReyQFzQThp0A_1xwBAzWTOKLZGhGVyntg_mbXHHfaQ36x4V0FeNNki_Twitter.png">
        <h2>Twitter</h2>
        <p>@innovalarioja</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>