<ion-view title="Sexting" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <h4>
        <span style="color: #003366;">¿Que es el sexting?</span>
      </h4>
      <p>En un sentido estricto el término deriva de las palabras en ingles "sex" y "texting". En la actualidad, ya no sólo compete al intercambio de mensajes de texto con contenido erótico, tambien considera fotografías, videos u otro tipo de material de
        índole sexual, que pueda ser intecambiado a través de las nuevas herraminetas tecnológicas a nuestro alcance, como redes sociales o aplicaciones de mensajería.</p>
      <p>&nbsp;</p>
      <p>
        <strong>Alerta &gt;&gt;</strong> Por lo general, los casos de sexting teminan de forma desagradable, tambien pueden asociarse con las victimas de Grooming.</p>
      <p>&nbsp;</p>
      <h4>
        <span style="color: #003366;">Buenas prácticas para no verse afectado por el Sexting</span>
      </h4>
      <p>⌂ Ser cuidadoso respecto a quienes tienen acceso al dispositivo de forma física y lógica.</p>
      <p>⌂ Considerar aspectos técnicos, como la eliminación del contenido a través del borrado seguro de datos.</p>
      <p>⌂ Usar una solución de seguridad movil que evite la infección con códigos malisiosos que roben la información.</p>
      <p>⌂ Aplicar prácticas comunes como el bloqueo de los dispositivos.</p>
      <p>⌂ Conectarse solo desde redes protegidas, evitando las de acceso público.</p>
      <p>⌂ Revisar las aplicaciones y el software instalado en el dispositivo que puedan tener algún tipo de codigo malisioso que robe información.</p>
    </div>
    <div class="spacer" style="height: 20px;"></div>
  </ion-content>
</ion-view>