<ion-view title="TEST:  ¿Eres un “bully” sin  saberlo?" id="page13">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 20px;"></div>
    <div>
      <p>Puede que estés molestando o hiriendo a un compañero sin saberlo y tal vez sin proponértelo, pensando que es un juego. Por eso, te presentamos este test para descubrir si eres un bully o no.</p>
      <hr>
      <p>&nbsp;</p>
      <p>
        <span style="color: #ff6600;">
          <strong>1-</strong>
        </span>&nbsp;¿Molestas o amenazas a alguien frecuentemente y sin un objetivo
        <br>claro?</p>
      <p>
        <span style="color: #ff6600;">
          <strong>2-</strong>
        </span> ¿Sientes que eres más fuerte o más inteligente que los demás?</p>
      <p>
        <span style="color: #ff6600;">
          <strong>3-</strong>
        </span> ¿Te parece divertido ver sufrir a un compañero? ¿Te ríes cuando se siente humillado?</p>
      <p>
        <span style="color: #ff6600;">
          <strong>4-</strong>
        </span> ¿Alguna vez fuiste demasiado agresivo y luego te arrepentiste al ver el efecto que causaste?</p>
      <p>
        <span style="color: #ff6600;">
          <strong>5-</strong>
        </span> ¿Crees necesario molestar a un niño que se viste diferente a ti o forma parte de una minoría racial?</p>
      <p>
        <span style="color: #ff6600;">
          <strong>6-</strong>
        </span> ¿Sueles involucrarte en peleas?</p>
      <p>
        <span style="color: #ff6600;">
          <strong>7-</strong>
        </span> ¿Eres agresivo fuera de la escuela?</p>
      <p>
        <span style="color: #ff6600;">
          <strong>8-</strong>
        </span> ¿Tiendes a descargar tus problemas tratando mal a los demás?</p>
      <hr>
      <p>&nbsp;</p>
      <p>Si contestaste que "Sí" a la mayoría de las preguntas, probablemente hayas hecho sufrir a alguien. Sin embargo, aún estás a tiempo de remediarlo. Puedes pedir disculpas a quienes
        <br>hayas lastimado y comenzar a combatir el cyberbullying dentro de tu comunidad. La difusión de estos mensajes ayudará a que el ciberacoso no siga ocurriendo.</p>
    </div>
  </ion-content>
</ion-view>